package components

templ treeView() {
	<div class="tree-view" id="tree-view">
		@searchBox()
		<div class="tree-container" id="tree-container">
			<!-- Tree will be rendered here -->
		</div>
	</div>
}

